
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouts.cshtml";
}
@section SidebarMenu
{
    @Html.Action("SidebarMenu", "Shipper")
}
@section NavBar{
    @Html.Action("NavBar", "Shipper")
}
@section Footer
{
    @Html.Action("Footer", "Shipper")
}

<div class="site-section">
    <div class="container" style="margin-left:10px">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <h3 style="text-align: center">Thay đổi mật khẩu</h3>
                <div class="col-12 md-5">
                    <div>
                        <form action="/Admin/Shipper/ChangePassword" method="post">
                            @if (@ViewBag.Error != null)
                            {
                                <div class="alert alert-danger">@ViewBag.Error</div>

                            }
                            @if (TempData["ThongBao"] != null)
                            {
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <strong>@TempData["ThongBao"]</strong>
                                    <button type="button" class="close" data-dismiss="alert" arial-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            <div class="form-group col-xs-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="matKhau">Current password</label>
                                <input type="password" class="form-control" id="matKhau" name="matKhau" placeholder="Mật khẩu cũ" required>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="matKhauMoi">New password</label>
                                <input type="password" class="form-control" id="matKhauMoi" name="matKhauMoi" placeholder="Mật khẩu mới" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$">
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="xacNhanMatKhau">Confirm Password</label>
                                <input type="password" class="form-control" id="xacNhanMatKhau" name="xacNhanMatKhau" placeholder="Xác nhận mật khẩu mới" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$">
                            </div>

                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success">Thay đổi</button>
                                @Html.ActionLink("Trở về", "InfoCaNhan", "Shipper", new { @class = "btn btn-info" })
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="p-4 rounded mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">@Html.ActionLink("Thông tin cá nhân", "InfoCaNhan", null, new { @style = "color: black" })</li>
                        <li class="list-group-item">@Html.ActionLink("Chỉnh sửa thông tin", "UpdateInfoCaNhan", new { @maNV = Session["Shipper"] }, new { @style = "color: black" })</li>
                        <li class="list-group-item">@Html.ActionLink("Đổi mật khẩu", "ChangePassword", null, new { @style = "color: black" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

