@model ShopGiay.Models.KHACHHANG
@{
    ViewBag.Title = "DetailKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouts.cshtml";
}

@section sidebarMenu
{
    @Html.Action("SidebarMenu", "AdminHome")

}

@section headerStarts
{
    @Html.Action("HeaderStarts", "AdminHome")

}
<br />
<h2>Chi tiết thông tin khách hàng</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.MaKH)</dt>
        <dd>@Html.DisplayFor(model => model.MaKH)</dd>
        <dt>@Html.DisplayNameFor(model => model.TenKH)</dt>
        <dd>@Html.DisplayFor(model => model.TenKH)</dd>
        <dt>@Html.DisplayNameFor(model => model.DiaChi)</dt>
        <dd>@Html.DisplayFor(model => model.DiaChi)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Sdt)</dt>
        <dd>@Html.DisplayFor(model => model.Sdt)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "DanhSachKH", "QLKhachHang", new { @class = "btn btn-success" })
</p>

