@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<ShopGiay.Models.CHITIETSP>

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouts.cshtml";
}
@section SidebarMenu
{
    @Html.Action("SidebarMenu", "AdminHome")
}
@section NavBar{
    @Html.Action("NavBar", "AdminHome")
}
@section Footer
{
    @Html.Action("Footer", "AdminHome")
}
<div class="container">
    <div class="col-lg-12">
        <h2>CHI TIẾT</h2>
        <hr />
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SANPHAM.TenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().MAUSAC.MauSac)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SIZE.Size)
                    </th>
                    <th>
                        @Html.Label("Số lượng")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MAUSAC.MauSac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SIZE.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Hiện thị", "ShowSanPham", new { @masp = @TempData["MaSP"] }, new { @class = "btn btn-success" })
        @Html.ActionLink("Trở về", "DanhSachSanPham", null, new { @class = "btn btn-info" })
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        <div>
            @Html.PagedListPager(Model, page => Url.Action("DetailSanPham", new { @masp = @TempData["MaSP"], page = page }))
        </div>
        <script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
        </script>
</div>
</div>