@using ShopGiay.Models
@model SANPHAM
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_ClientLayouts.cshtml";
}
@section SiteNavBar {
    @{ Html.RenderAction("SiteNavBar", "Store");}
}
@section SiteBlocksCover {

}
@section SiteSection {

}
<div class="site-section" style="padding-top: 40px">
    <div class="container">
        @if (TempData["KhongThanhCong"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin: 10px; padding: 10px">
                @TempData["KhongThanhCong"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 4px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["ThanhCong"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                @TempData["ThanhCong"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 4px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (TempData["LoiSL"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                @TempData["LoiSL"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 4px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content("~/HinhAnh/HinhAnhSP/"+Model.Anh)" alt="Image" class="img-fluid" style="width: 500px; padding-left: 10px">
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("ThemSanPham", "GioHang", new { @maSP = Model.MaSP, @URL = Request.Url.ToString() }))
                {
                    <h3 class="text-black">@Model.TenSP</h3>
                    <h3 style="color: dimgray">@Model.NHANHIEU.TenNhanHieu</h3>
                    <p class="mb-4" style="text-align: justify; font-size: 15px; ">@Model.MoTa</p>
                    <p><strong class="text-primary h4">@string.Format("{0:0,0}", Model.DonGia) VNĐ</strong></p>
                    <div class="mb-1 d-flex">
                        <div style="margin-right: 30px">
                            <h2 class="m_9" style="font-size: 15px; color: black"> SELECT SIZE</h2>
                            @Html.DropDownList("MaSize", (IEnumerable<SelectListItem>)ViewBag.MaSize, new { @style = "font-size= 25px; width:60px; height:40px; margin:15px 0px;" })
                        </div>
                        <div>
                            <h2 class="m_9" style="font-size: 15px; color: black">SELECT COLOR</h2>
                            @Html.DropDownList("MaMau", (IEnumerable<SelectListItem>)ViewBag.MaMau, new { @style = "font-size= 25px; width:100px; height:40px ; margin:15px 0px;" })

                        </div>
                    </div>
                    <input type="submit" class="buy-now btn btn-sm btn-success" name="submit"  value=" Thêm vào giỏ hàng" title="">
                }

            </div>
        </div>
       
       
    </div>
</div>
@section SiteBlocks2{
   
}

@section SiteBlocks8{
    
}

@section SiteBlocks3{
    @{ Html.RenderAction("SanPhamNoiBat", "SanPham");}
}


@section SiteFooter{
    @Html.Action("SiteFooter", "Store")
}



