@model List<ShopGiay.Models.GIOHANG>
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_ClientLayouts.cshtml";
}

@section SiteNavBar {
    @{ Html.RenderAction("SiteNavBar", "Store");}
}
@section SiteBlocksCover {
   
}
@section SiteSection{
    
}

<div class="site-section" style="padding-top: 50px; padding-bottom: 50px ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h3 class="h3 mb-3 text-black">Billing Details</h3>

                <div class="p-3 p-lg-5 border">
                    <table class="table site-block-order-table mb-5" style="margin-bottom: 10px; padding-bottom: 50px">
                        <thead>
                            <tr>
                                <th>ĐỊA CHỈ NHẬN HÀNG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong><label>@ViewBag.DiaChi</label></strong> <br /> <label style="font-size: 15px" id="diachi">@ViewBag.Sdt</label> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-secondary">@Html.ActionLink("Thay đổi địa chỉ", "ThayDoiDiaChi", new { @maKH = Session["UserID"] })</button>
                    </div>

                </div>

            </div>


            <div class="col-md-12" style="padding-top: 50px">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Màu Sắc</th>
                                        <th>Size</th>
                                        <th>Số lượng</th>
                                        <th>Tổng giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.TenSP</td>
                                            <td>
                                                <strong class="mx-2">
                                                    @item.TenMau
                                                </strong>
                                            </td>
                                            <td> @item.TenSize</td>
                                            <td> @item.SoLuong</td>
                                            <td>@string.Format("{0:0,0}", @item.ThanhTien) VNĐ</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="text-black " colspan="4"></td>
                                        <td class="text-black " style="float: left">@string.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black " colspan="4"></td>
                                        <td class="text-black" style="float: left">@string.Format("{0:0,0}", ViewBag.TongGiam) VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black" colspan="4">Tổng tiền</td>
                                        <td class="text-black "> @string.Format("{0:0,0}", ViewBag.TongTienCon) VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">
                    <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>

                    <form action="/GioHang/ApplyPromoCode" method="post">

                        <div class="input-group w-75">
                            <input type="text" class="form-control" id="txtcode" name="txtcode" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" type="submit" id="button-addon2">Apply</button>
                            </div>
                        </div>
                    </form>
                    @if (ViewBag.Error != null)
                    {
                        <div class="container">
                            <div class="col-6">
                                <div class="alert alert-info alert-dismissible" role="alert" style="height: 60px">
                                    <strong style="margin-left: 180px">@ViewBag.Error</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-top: 4px">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="p-3 p-lg-5">
                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="border p-3 mb-5">
                                 @Html.ActionLink("Paypal payment", "PaymentWithPaypal", "GioHang", new {@class = "h6 md-0", @style = "color: black" })
                            </div>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div>
                                    <button class="btn btn-success btn-lg py-3 btn-block" type="submit">Xác nhận thanh toán</button>
                                </div>
                            }
                            <div class="form-group">
                                <button class="btn btn-danger btn-lg py-3 btn-block">@Html.ActionLink("Hủy thanh toán", "HuyThanhToan", new { @maKH = Session["UserID"] })</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <!-- </form> -->
    </div>
</div>



@section SiteFooter{
    @Html.Action("SiteFooter", "Store")
}



