@model ShopGiay.Models.KHACHHANG
@{
    ViewBag.Title = "InfoCaNhan";
    Layout = "~/Views/Shared/_ClientLayouts.cshtml";
}
@section SiteNavBar{
    @{ Html.RenderAction("SiteNavBar", "Store");}
}
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <h3 style="text-align: center">Thông tin cá nhân</h3>
                <div class="col-12 md-5">
                    <div>
                        @using (Html.BeginForm())
                        {
                            if (TempData["ThongBao"] != null)
                            {
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <strong>@TempData["ThongBao"]</strong>
                                    <button type="button" class="close" data-dismiss="alert" arial-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            <div class="form-group col-xs-6">
                                @Html.DisplayNameFor(model => model.TenKH)
                                @Html.DisplayFor(model => model.TenKH)
                            </div>
                            <div class="form-group col-xs-6">
                                @Html.DisplayNameFor(model => model.Email)
                                @Html.DisplayFor(model => model.Email)
                            </div>
                            <div class="form-group col-xs-6">
                                @Html.DisplayNameFor(model => model.DiaChi)
                                @Html.DisplayFor(model => model.DiaChi)
                            </div>
                            <div class="form-group col-xs-6">
                                @Html.DisplayNameFor(model => model.Sdt)
                                @Html.DisplayFor(model => model.Sdt)
                            </div>
                            <div class="form-group col-xs-6">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Trở về", "Shop", null, new { @class = "btn btn-info" })
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="p-4 rounded mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">@ViewBag.TenKH</h3>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">@Html.ActionLink("Chỉnh sửa thông tin", "UpdateInfoCaNhan", new { @maKH = Session["UserID"] })</li>
                        <li class="mb-1">@Html.ActionLink("Đổi mật khẩu", "ChangePassword")</li>
                        <li class="mb-1">@Html.ActionLink("Đơn mua", "DonMua", new { @maKH = Session["UserID"] })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section SiteBlocks3{
}
@section SiteFooter{
    @Html.Action("SiteFooter", "Store")
}



