@using PagedList.Mvc;
@model PagedList.PagedList<ShopGiay.Models.NHANVIEN>
@{
    ViewBag.Title = "DanhSachNV";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayouts.cshtml";
}

@section sidebarMenu
{
    @Html.Action("SidebarMenu", "AdminHome")

}

@section headerStarts
{
    @Html.Action("HeaderStarts", "AdminHome")

}
@using (Html.BeginForm("DanhSachNV", "QLNhanVien", FormMethod.Post))
{
    <h3>Danh sách nhân viên</h3>
    <div class="col-lg-8">
        <div class="input-group custom-search-form">
            <input style="background-color:white" id="search" name="search" type="text" value="" class="form-control" placeholder="Tìm kiếm theo tên" />
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            <div class="col-lg-4">
                @Html.ActionLink("Thêm mới nhân viên", "AddNhanVien", "QLNhanVien", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
<br />
<hr />

<table width="100%" class="table table-striped table-bordered table-hover" id="Table-NhanVien">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().MaNV)</th>
            <th>@Html.DisplayNameFor(model => model.First().TenNV)</th>
            <th>@Html.DisplayNameFor(model => model.First().DiaChi)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Sdt)</th>
            <th>@Html.DisplayNameFor(model => model.First().GioiTinh)</th>
            <th>@Html.DisplayNameFor(model => model.First().NgaySinh)</th>
            <th>@Html.DisplayNameFor(model => model.First().CMND)</th>
            <th>@Html.DisplayNameFor(model => model.First().QuyenNV)</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaNV)</td>
                <td>@Html.DisplayFor(modelItem => item.TenNV)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Sdt)</td>
                <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                <td>@Html.DisplayFor(modelItem => item.CMND)</td>
                <td>@Html.DisplayFor(modelItem => item.QuyenNV)</td>
                <td>
                    <button class="btn btn-info">@Html.ActionLink("Chi tiết", "DetailNhanVien", "QLNhanVien", new { @manv = item.MaNV }, new { @style = "color: white", })</button>
                    <button class="btn btn-danger">  @Html.ActionLink("Xóa", "DeleteNhanVien", "QLNhanVien", new { @manv = item.MaNV }, new { @style = "color: white", })</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@*Tạo link liên kết các trang*@
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("DanhSachNV", "QLNhanVien", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("DanhSachNV", new { page, size = ViewBag.CurrentSize }))
<script>
    $(document).ready(function () {
        $('#Table-NhanVien').DataTable({
            responsive: true
        });
    });
</script>