<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/Client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/aos.css">
    <link rel="stylesheet" href="~/Content/Client/css/style.css">

</head>
<body>
    <div class="site-wrap">
        @RenderSection("SiteNavBar", false);
        @RenderSection("SiteBlocksCover", false)
        @RenderSection("SiteSection", false)
        @RenderBody()
        @RenderSection("SiteBlocks2", false)
        @RenderSection("SiteBlocks3", false)
        @RenderSection("SiteBlocks8", false)
        @RenderSection("SiteFooter", false)
    </div>
    
    <script src="~/Content/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/js/jquery-ui.js"></script>
    <script src="~/Content/Client/js/popper.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Content/Client/js/owl.carousel.min.js"></script>
    <script src="~/Content/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Client/js/aos.js"></script>
    <script src="~/Content/Client/js/main.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>